@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

body { font-family: 'Libre Baskerville', Arial, sans-serif; padding: 140px 0 0 0; }
a, a:hover { text-decoration: none; }
.container { position: relative; }

/* Main Header */
.main-header { position: fixed; background: #fff; height: 140px; width: 100%; top: 0; z-index: 99; }
.main-header .main-logo-wrapper { margin: 35px 0px 62px 65px; display: inline-block; }
.main-header .main-nav-wrapper { position: absolute; display: inline-block; right: 0; top: 0; }
.main-header .main-nav-wrapper .main-nav { position: relative; padding: 48px 65px 0 0; }
.main-header .main-nav-wrapper .main-nav ul li { display: inline-block; }
.main-header .main-nav-wrapper .main-nav ul li a { display: block; font-size: 12px; padding: 0 10px; color: #212121; transition: all .5s ease; }
.main-header .main-nav-wrapper .main-nav ul li a:hover { color: #2979FF; }

/* Content - Section */
.section-topic { margin: 20px 0; background: #fff; }
.section-topic h2 { text-align: center; margin: 40px 0 20px 0; font-size: 40px; }
.section-topic .img-content { text-align: center; }

/* Miscellaneous */
.flex-image { position: relative; background-attachment: fixed; background-size: cover; }
.flex-image#pbed-wrap { background-image: url(../img/pbed.webp); height: 400px; }

/* Main Footer */
.main-footer { background: #8D3A48; color: #fff; text-align: center; padding: 20px 0; }