<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Personality</title>
    </head>
    <body>
        <h1>Your Personality</h1>
        <ul>
            <% personalities.forEach((user) => { %>
            <%= user.name %>
            <% }) %>
        </ul>
    </body>
</html>